img {
    width: 6vw;
    height: 30vh;
    object-fit: cover;
    background: orangered;
    background: radial-gradient(white 30%, orange 70%);
}

.fa-star,
.fa-star-half {
    color: orange;
    padding: 3%;
}

.card-title {
    height: 7vh;
    padding: 0.5em;
}

button {
    display: flex;
    align-self: flex-end;
}